.button-link {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    padding: 15px 25px;
    border: 3px solid white;
    border-radius: 60px;
}

.button-link i {
    color: #000;
    font-style: normal;
}

.button-link:hover i {
    color: #fff;
    transition: ease 0.3s;
}

.button-link:hover {
    border: 3px solid #2fc8ff;
    background-color: #025fc3;
    color: #fff;
    transition: ease 0.3s;
}