#proyects {
    background-color: #1E1F22;
    padding: 20px;
}

#proyects h2 {
    font-size: 3em;
    padding: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #C77DBB;
}

.proyect-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.section-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.section-column h3 {
    font-size: 1.5em;
    color: #ce6029;
    padding: 5px 0;
}

.section-column p {
    padding: 0px 0px 20px 0px;
    color: #e0e2ea;
}

.proyect-row img {
    border-radius: 15px;
    width: 500px;
    height: 350px;
    object-fit: cover;
}