#proyects {
    background-color: #1e1e1e;
    padding: 20px;
}

#proyects h2 {
    font-size: 3em;
    padding: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.proyect-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.section-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.section-column h3 {
    font-size: 1.5em;
    color: #3eb5ff;
    padding: 5px 0;
}

.section-column p {
    padding: 0px 0px 20px 0px;
}

.proyect-row img {
    border-radius: 15px;
    width: 500px;
    height: 350px;
    object-fit: cover;
}